
.background{
    background-image:url(/webbackground.jpg)
}
.background
{
    background-image: url(webbackground.jpg);
    background-size: cover;
    background-color: black;
}
.weblogo img
{
    height: 70px;
    width: 100px;
    margin-left: 10px;
    border-radius: 20px;
}
.right
{
    font-size: 22px;
    color: white;
}
nav
{
    background-color: #1f0747;
}

.navbar-nav .nav-item {
    margin-right: 20px; /* Adjust spacing as needed */
}

.right a{
    color: white;
}

.dropdown{
background-color: #1f0747;
}

.dropdown-menu li a
{
    color: white;
    font-size: 16px;
}

.dropdown-menu li a:hover{
    background-color: blueviolet;
    color: white;
}

.navbar-nav .nav-link:hover
{
    color: blueviolet;
}
.ws_images
{
    display: flex;
    text-align: center;
}
.ws_images img
{
    height: 650px;
}
.card-body p 
{
    font-size: 15px;
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:570px;
	position:relative;
	/* background:url(webbackground.jpg) no-repeat center; */
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	margin-top: 10px;
	width:100%;
	height:560px;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgb(30, 150, 187);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#ffffff;
	border-color:#d4d6da;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-wrap:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
.label{
    color: white;
}

/* footer section start here */

.footer
{
    background-color: #1f0747;
    display: flex;
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border-top: solid 3px rgba(159, 157, 155, 0.772);
    justify-content: space-around;
}
.total
{
    color: rgb(233, 221, 201);
    width: 400px;
    height: 150;
    align-items: center;
    padding: 10px 30px;
    margin-top: 40px;
}
.total h1
{
    color: rgb(233, 221, 201);
    font-size: 30px;
    letter-spacing: 2px;
}
.total span
{
    padding: 0px 10px;
    border-left: #F79A33 solid;
}
.total p
{
    font-size: 17px;
    margin: 25px 0px;
    letter-spacing: 1.5px;
    font-family: 'Times New Roman', Times, serif;
}
.browse
{
    width: 350px;
    height: 150px;
    align-items: center;
    padding: 10px 0px;
    margin-top: 40px;
}
.browse h1
{
    color: rgb(233, 221, 201);
    font-size: 30px;
    letter-spacing: 2px;
}
.browse span
{
    padding: 0px 10px;
    border-left: #F79A33 solid;
    }
.browse ul
{
    list-style: none;
    margin-top: 10px;
    }
.browse ul li a
{
    text-decoration: none;
    color: rgb(233, 221, 201);
    text-transform: uppercase;
    line-height: 30px;
    transition: all ease 0.3s;
    font-size: 15px;
    margin-left: 10px;
}
.browse ul li a:hover
{
    font-weight: bold;
    color: white;
    background-color: #944ada;
    padding: 8px;
    border-radius: 10px;
}
.contact
{
    width: 300px;
    height: 150px;
    align-items: center;
    padding: 10px 0px;
    margin-top: 40px;
}
.contact h1
{
    color: rgb(233, 221, 201);
    font-size: 30px;
    letter-spacing: 2px;
}
.contact span
{
    padding: 0px 10px;
    border-left: #F79A33 solid;
}
.contact p
{
    display: flex;
    align-items: center;
}
.contact img
{
    height: 40px;
    width: 38px;
    margin: 30px 5px;
    cursor: pointer;
    padding: 0px 5px;
    transition: all ease 0.5s;
}
.contact img:hover
{
    transform: scale(1.2);
}